/* Put your CSS here */
html, body {
    margin: 0px 0;
}

#simulator {
    position: relative;
    height: 900px;
    width: 300px;
}

#game {
    float: right;
    height: 250px;
    width: 250px;
}

.input_segment {
    display: inline-block;
    width: 300px;
}
