/* Put your CSS here */
html, body {
    margin: 0px 0;
}

#simulator {
    position: relative;
    height: 1000px;
    width: 600px;
    margin-left: 30px;
}

.input_segment {
    width: 600px;
    margin-bottom: 10px;
}

#queue-controls textarea{
    max-width: 550px;
}

#controls {
    border-style: solid;
    border-width: 5px;
    width: 600px;
    border-radius: 25px;
    padding: 15px;
}

#algor-controls {
    position: relative;
    width: 600px;
}

#algor_choose {
    position: relative;
    width: 600px;
    height: 185px;
}

#algor-radio {
    position: absolute;
    width: 300px;
    top: 0;
    left: 0;
}

#algor_desc {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    text-indent: 25px;
    font-size: 14px;
}

#options-controls {
    position: relative;
    width: 100%;
    font-size: 15px;
}

#options-controls .form-control {
    width: 30px;
    height: 12px;
}

#options-controls .option {
    width: 200px;
    float: left;
}

#queue_size {
    visibility: hidden;
}

#results-controls {
    position: absolute;
    bottom: 100px;
    visibility: hidden;
    width: 500px;
}

#results-text {
    resize: none;
    height: 200px;
}

#running_sim {
    position: relative;
}

#output_stats {
    float: left;
    width: 250px;
}

#game {
    float: right;
    height: 250px;
    width: 250px;
}
